@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

body{
  background-color: #302B2B;
  height: 100vh;
}

header{
  background-color: #C4C4C4;
  height: 70px;
}

.texto-pequeno{
  font-size: 10px;
  display: inherit;
}

.width-100{
  width: 100%;
}

.heigh-100{
  height: 100%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex-space-bet{
  display: flex;
  justify-content: space-between;
}

.display-flex-space-around{
  display: flex;
  justify-content: space-around;
}

.display-f-c{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-right{
  padding-right: 25px !important;
}

.p-left{
  padding-left: 25px !important;
}

.m-top{
  margin-top: 10px;
}

.m-bottom{
  margin-bottom: 10px;
}

.m-bottom-pequeno{
  margin-bottom: 5px !important;
}

.linha{
  width: 100%;
  border-bottom: 1px solid #C4C4C4;
  margin-top: 5px;
  margin-bottom: 5px;
}

.a-estilo-1{
  text-decoration: none;
  background-color: #C4C4C4;
  padding: 3px 6px 3px 6px;
  border-radius: 10px;
  font-size: 12px;
  color: #302B2B;
}

.a-estilo-1:hover{
  padding: 2px 5px 2px 5px;
  border: solid 1px #C4C4C4;
  background-color: #302B2B;
  color: #C4C4C4;
}

.a-estilo-2{
  display: block;
  text-decoration: none;
  background-color: #C4C4C4;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #302B2B;
}

.a-estilo-2:hover{
  padding: 4px;
  border: solid 1px #C4C4C4;
  background-color: #302B2B;
  color: #C4C4C4;
}


.nav{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-content{
  padding: 4px;
  border-radius: 11px;
  width: 164px;
  margin: 3px;
}

.nav-active{
  height: 3px;
  width: 39px;
  background: #302B2B;
  border-radius: 25px;
  margin-bottom: 1px;
}

.nav-content > a {  
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-decoration: none;
  color: #000000;
}

.nav-content > a > img {
  width: 41px;
  height: 33px;
}

.nav-content:hover{
  background-color: #302B2B;
}

.nav-content:hover > a{
  color: #C4C4C4;
}

.nav-content:hover > a > img{
  filter: invert(98%) sepia(0%) saturate(437%) hue-rotate(206deg) brightness(97%) contrast(60%);
}

.conteudo{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #FFFFFF;
}

.div-border-1{
  border: solid 2px #E5E5E5;
}

.ranger{
  height: 6px;
  background: #C4C4C4;
  border-radius: 7px;
}

.ranger-valor{
  width: 44%;
  height: 6px;
  background: #FFF500;
  border-radius: 6px;
}

.ranger-num-valor{
  position: relative;
  margin-left: 41%;
}

.img-treino{
  border: solid 1px #302B2B;
}

.circular {
  margin-top: 10px;
  height: 180px;
  width: 180px;
  position: relative;
}
.circular .inner {
  position: absolute;
  z-index: 6;
  top: 26%;
  left: 26%;
  height: 166px;
  width: 166px;
  margin: -40px 0 0 -40px;
  background: #302B2B;
  border-radius: 100%;
}
.circular .number {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 40px;
  font-weight: 500;
  color: #FFFFFF;
}
.circular .porc {
  font-weight: 500;
  font-size: 20px;
}
.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #C4C4C4;
  -webkit-border-radius: 100%;
  clip: rect(0px, 180px, 180px, 89px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 91px, 180px, 0px);
  background: #FFF500;
}

/* animação dos circulos por enquanto esta incompleto */

.circle .left .progress {
  z-index: 1;
  animation: left 3s linear both;
}

@keyframes left{
  100%{
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index:3;
}
.circle .right .progress{
  animation: right 3s linear both;
  animation-delay:3s;
}

@keyframes right{
  100%{
    transform: rotate(180deg);
  }
}

/* responsi */
.mobile{
  display: none;
}

@media screen and (max-width: 1150px) {
  .dieta{
    display: none;
  }
}

@media screen and (max-width: 900px) and (max-height: 1200px) {
  .conteudo{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-height: 700px) and (max-width: 700px){
  .mobile-pequeno{
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .mobile{
    display: inline;
  }
  .calorias{
    display: none;
  }
  .pc{
    display: none;
  }
  .treino{
    width: 100%;
  }
}


/* pag login */

.fundo-treino-img{
  background-image: url('../img/treino-fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form-style-1{
  background: rgb(54, 50, 50);
  width: 100%;
  max-width: 500px;

  margin: 32px auto;
  padding: 32px 64px;

  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.form-style-1 h2 {
  margin-bottom: 32px;
  color: #f0f0f5;
}

.a-form-1{
  color: #fd951f;
  text-decoration: none;
}

div.input {
  height: 56px;
  margin-bottom: 24px;
  position: relative;
}

.input-form-1,
.button-form-1 {
  /* reset appeareance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* box */
  width: 100%;

  padding: 16px 0;

  border:none;
  border-bottom: 1px solid #fd951f;

  background-color: transparent;

  outline: none;

  /* text */
  color: #f0f0f5;
  font-size: 1em;

}

.button-form-1{
  margin-top: 16px;
  background-color: #fd951f;
  cursor: pointer;
  border-radius: 8px;
}

.button-form-1:hover{
  border: 2px solid #000000;
  color: #000000;
  height: 52px;
}

.input-form-1 ~ label {
  position: absolute;
  top: 16px;
  left: 0;

  color: rgba(255, 255, 255, 0.6) ;

  transition: .4s;
}

input ~ label{
  color: rgba(255, 255, 255, 0.6) ;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-24px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

/* cadastro */

::-webkit-calendar-picker-indicator {
  filter: invert(80%) sepia(29%) saturate(6911%) hue-rotate(344deg) brightness(100%) contrast(99%);
}

.checkbox-grupo-form-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60px;
}

.checkbox-form-1 {
  position: absolute;
  left: -999em;
}

.checkbox-form-1 + .checkbox-label-form-1 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.checkbox-form-1 + .checkbox-label-form-1::before {
  content: "";
  display: inline-block;
  vertical-align: -3px;
  height: 13px;
  width: 13px;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}

.checkbox-form-1:checked + .checkbox-label-form-1::after {
  content: '';
  position: absolute;
  width: 1.2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.6ex;
  left: 0.3ex;
  border: 3px solid #fd951f;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* perfil */
.texto-com-fundo{
  padding: 3px 5px 3px 5px;
  background-color: #C4C4C4;
  border-radius: 5px;
}

.borda-fogo{
  background-color: #C4C4C4;
  border-radius: 40px;
  width: 67px;
  padding: 5px;
  margin-right: 11px;
}

.dia-fogo{
  color: #302B2B;
  position: absolute;
  margin-top: 42px;
}

.display-f-c-space-around{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.treino-perfil-config{
  background-color: #C4C4C4;
  width: 300px;
}

.background-black{
  background-color: #302B2B;
}

.background-cinza{
  background-color: #C4C4C4;
}

.range-treino{
  background-color: #2C9F19;
  width: 83%;
}

.padding-5{
  padding: 5px;
}

.padding-10{
  padding: 10px;
}

.texto-cinza{
  color: #675858;
}

.display-flex-column{
  display: flex;
  flex-direction: column;
}

.config-a-img > img{
  width: 15px;
  margin-right: 4px;
}

.config-a-img:hover > img{
  filter: invert(98%) sepia(0%) saturate(437%) hue-rotate(206deg) brightness(97%) contrast(60%);
}

.edit-button{
  padding: 2px 4px 2px 4px;
  background-color: #2C9F19;
  border-radius: 8px;
  text-decoration: none;
  color: #302B2B;
  margin-right: 20px;
}

.edit-button:hover{
  padding: 1px 3px 1px 3px;
  border: 1px solid #302B2B;
}

.edit-button > img{
  width: 14px;
  filter: invert(11%) sepia(12%) saturate(471%) hue-rotate(314deg) brightness(98%) contrast(84%);
}

.menu-350-fundo-cinza{
  width: 350px;
  background-color: #C4C4C4;
}

.linha-black{
  border-bottom: 1px solid black !important;
}

.feed{
  width: 350px;
  background-color: #C4C4C4;
}

/* responsi perfil */
@media screen and (max-width: 1040px) {
  .feed{
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .editar-perfil{
    display: none;
  }
}

.em-breve{
  color: #C4C4C4;
}